ALTER TABLE public.rh_financeiro_lotes DROP CONSTRAINT IF EXISTS rh_financeiro_lotes_tipo_check;
ALTER TABLE public.rh_financeiro_lotes ADD CONSTRAINT rh_financeiro_lotes_tipo_check CHECK (tipo = ANY (ARRAY['BANCO_HORAS'::text, 'FOLHA_VARIAVEL'::text, 'FOLHA_BASE'::text, 'INTERMITENTES'::text, 'DIARISTAS'::text]));
